.user-container h1 {

    display: flex;
    color: aliceblue;
    font-size: large;
    text-align: center;
    justify-content: center;
    padding-left: 43%;
    font-family: "Pacifico", cursive;

}
.user-container h3{
    display: flex;
    font-size: large;
    font-family: "Pacifico", cursive;
    color: aliceblue;
}

h2 {
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin-top: 100px;
    font-family: "Pacifico", cursive;
    color: aliceblue;
}

p{
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    margin-top: 20px;
    font-family:  "Pacifico", cursive;
}

.Carrito {
    padding: 12px 20px;
    background-color: #D4A373;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    filter : drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    text-decoration: none;
}

.Carrito:hover {
    transform: scale(1.1);
    background-color: #d4a373d3;
}

.Secreto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    
}